.pastel-pink {
  background-color: #ffd1dc;
  color: #212529;
}
.pastel-blue {
  background-color: #cce5ff;
  color: #212529;
}
.pastel-green {
  background-color: #d4edda;
  color: #212529;
}
.pastel-yellow {
  background-color: #fff3cd;
  color: #212529;
}
.lemon-Chiffon {
  background-color: #fffacd;
  color: #fffacd;
}
.lavender-mist {
  background-color: #e6e6fa;
  color: #e6e6fa;
}
.peach-puff {
  background-color: #ffdab9;
  color: #ffdab9;
}
.powder-blue {
  background-color: #b0e0e6;
  color: #b0e0e6;
}
.pale-turquoise {
  background-color: #afeeee;
  color: #afeeee;
}
.light-coral {
  background-color: #f08080;
  color: #f08080;
}
.Thistle {
  background-color: thistle;
  color: thistle;
}
.Honeydew {
  background-color: honeydew;
  color: honeydew;
}
.Misty-rose {
  background-color: #ffe4e1;
  color: #ffe4e1;
}
.light-cyan {
  background-color: #e0ffff;
  color: #e0ffff;
}
.pale-goldenrod {
  background-color: #eee8aa;
  color: #eee8aa;
}
.light-salmon {
  background-color: lightsalmon;
  color: lightsalmon;
}
